<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto3">
        <activity
            android:name=".comida2"
            android:exported="true" />
        <activity
            android:name=".toolbar_detalle"
            android:exported="true" />
        <activity
            android:name=".postre1"
            android:exported="true" />
        <activity
            android:name=".bebida1"
            android:exported="true" />
        <activity
            android:name=".comida1"
            android:exported="true" />
        <activity
            android:name=".toolbar_orden"
            android:exported="true" />
        <activity
            android:name=".orden"
            android:exported="true" />
        <activity
            android:name=".toolbar_ad"
            android:exported="true" />
        <activity
            android:name=".ad"
            android:exported="true" />
        <activity
            android:name=".bebidades"
            android:exported="true" />
        <activity
            android:name=".bebidaes"
            android:exported="true" />
        <activity
            android:name=".postresdes"
            android:exported="true" />
        <activity
            android:name=".postreses"
            android:exported="true" />
        <activity
            android:name=".comidades"
            android:exported="true" />
        <activity
            android:name=".comidaes"
            android:exported="true" />
        <activity
            android:name=".toolbarpost"
            android:exported="true" />
        <activity
            android:name=".postresof"
            android:exported="true" />
        <activity
            android:name=".toolbarbeb"
            android:exported="true" />
        <activity
            android:name=".bebidaof"
            android:exported="true" />
        <activity
            android:name=".toolbar"
            android:exported="true" />
        <activity
            android:name=".Comidaof"
            android:exported="true" />
        <activity
            android:name=".Menu"
            android:exported="true" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>